/*  your css code here. If applicable */
.center{
	text-align: center;	
}
.right{
	text-align: right;
}
#table-1{
    border-spacing: 1px;
	width:600px;
	border:collapse;
	height:50px;
   cellpadding: 1px;
}
#t11{
	border:1px inset rgb(30,31,32)
}

#table-2{
	border:1px solid black;
	border-spacing: 1px;
	cellpadding: 1px;
	border-style:collapse;
	
}
#table-3{
	border: 1px inset;
	border-spacing: 1px;
	cellpadding:10px;
	border-style:collapse;
	
}