/*  your css code here. If applicable */
h1{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:15px;
	margin-bottom:0;
}
.center{
	text-align: center;	
}
.right{
	text-align: right;
}
#table-1{
	border:1px inset rgb(0,0,0);
    border-spacing: 1px;
	color:black;
	width:600px;
	height:50px;
	border-style:collapse;
   cellpadding: 1px;
}

#table-2{
	border:1px solid black;
	border-spacing: 1px;
	cellpadding: 1px;
	border-style:collapse;
	
}
#table-3{
	border: 1px inset;
	border-spacing: 1px;
	cellpadding:10px;
	border-style:collapse;
	
}