/*  your css code here. If applicable */
.middle-center{
	text-align:center;	
}
.middle-right{
	text-align:right;
}
.table-3{
	border-color:solid black;
	border-spacing:1pxl solid;
	padding:1pxl;
}
.table-1{
	border-color:solid black;
	border-spacing: 1pxl solid;
	padding: 1pxl solid;
}
.table-2{
	border-color:solid black;
	border-spacing: 1pxl solid;
	padding: 1pxl solid;
}